body {
    color: white ;
    background : purple 

}

header {
    border-bottom: solid blue;
    font-size: 32px;
}

section {
     background: purple;
    padding-bottom: 80px;
       padding: top 80px;
       display: flex;
       justify-content: center;


}

div {
    margin-right: 20px;
     
}